.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


header,
main  {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px;
}

a {
    color: black;
    text-decoration: none;
}

header nav h2 {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    font-size: 16px;
    display: flex;
    gap: 40px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

header nav ul li a i {
    font-size: 20px;
    color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-top: 50px;
    background-image: url('influencer-gear/images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-position: right center;
    padding: 60px 0;

}

.hero_text,
hero_image {
    width: 50%;
}

.hero_image img {
    width: 440px;
    height: 410px;
}


.hero_text h1 {
    font-size: 52px;
    font-weight: bold;
}

.hero_text p,
button {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
}

.hero_text a {
    background-color: #ff4d4d;
    color: whitesmoke;
    font-weight: 700;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;


}

.companys {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 10px 0;
    border-radius: 5px;

}



@media screen and (max-width: 568px) {

    #hero_area {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .hero_text,
    .hero_img,
    #camra {
        width: 100%;
    }

    .companys {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero {
        padding: 0;
        margin: 0;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center top;
    }


    #hero_area .hero_text {
        padding: 0;
        margin: 50px 0;
        text-align: center;
    }

    #hero_area .hero_text h1 {
        font-size: 28px;
        padding: 0;
        font-weight: bold;
    }

    #hero_area p {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.432);
    }

    .hero_text a {
        text-align: center;
    }

    main #product {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}

@media screen and (min-width: 568px) and (max-width: 1024px) {


    header #nav_1 {
        display: flex;
        flex-direction: column;
    }

    header #nav_1 ul {
        width: 100%;
        justify-content: space-around;
        margin-bottom: 50px;
    }

    header #nav_1 h2 {
        font-size: 35px;
        font-weight: bold;
    }


    #hero_area {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .hero_text,
    .hero_img,
    #camra {
        width: calc(100% - 100px);
        text-align: center;
        padding-top: 25px;
        margin-bottom: 50px;
    }

    #heading1 {
        font-size: 45px;
    }



    .hero {
        padding: 0;
        margin: 0;
        background-size: calc(100% - 100px);
        background-repeat: no-repeat;
        background-position: center top;
    }


    #hero_area .hero_text {
        padding: 0;
        margin: 50px 0;
        text-align: center;
    }

    #hero_area .hero_text h1 {
        font-size: 28px;
        padding: 0;
        font-weight: bold;
    }

    #hero_area p {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.432);
    }

    .companys img {
        margin: 0 auto;
    }

    .companys {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    main #product {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }



}

@media screen and (max-width: 568px) {
    header #nav_1 {
        display: none;
    }

}

@media screen and (min-width: 568px) {
    header #nav_2 {
        display: none;
    }
}


#product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product_box {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
}

.product_box h2 {
    font-size: 28px;
    font-weight: bold;
}

.product_box h3 {
    font-size: 24px;
    font-weight: 400;
}

.icons {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgba(0, 0, 0, 0.411);
}

.product_box a,
p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.411);
}




.product_box {
    border: 1px solid #ddd;
    transition: all 0.3s ease;
    cursor: pointer;
    overflow: hidden;
}

.img_box {
    overflow: hidden;
    border-radius: 10px;

}


.product_box img {
    transition: transform 0.3s ease;
    width: 100%;

}



.product_box:hover img {
    transform: scale(1.1);

}

main .main_last_stage h4 a {
    color: #ff4d4d;
}

main .main_last_stage h4 {
    color: #ff4d4d;
    text-align: end;
    margin: 50px auto;
}

.main_last_stage .gear {
    display: flex;
    gap: 50px;
    align-items: center;
}

.gear_1 {
    width: 50%;
}

.gear_2 {
    width: 50%;
}

.gear_1 img {
    width: 100%;
}

.gear_2 h2 {
    font-size: 38px;
    font-weight: bold;
}

.gear_2 a {
    color: white;
    background-color: #ff4d4d;
    padding: 10px 20px;
    border-radius: 25px;
   
}

@media screen and (max-width:768px) {
     .main_last_stage .gear {
        display: flex;
        flex-direction: column-reverse;
        gap: 50px;
        align-items: center;
    }

   .gear .gear_1 , .gear .gear_2 {
        width: 100%;
        text-align: center;
    }
}

footer{
    background-color: rgb(1, 1, 27);
    color: white;
    margin-top: 100px;
    padding: 50px 0;
    text-align: center;
}

footer h2{
    font-size: 24px;
}

footer p{
    font-size: 14px;
    color: #ddd;
}
footer h4{
    font-size: 14px;
}

.icons{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 25px;
   font-size: 20px;
}

.button{
    transition: all 0.5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.button:hover{ 
     background-color: darkgray;
     color: black;
     box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}